# Introduction 

In this lab we are going to create a basic Artificial Neural Network (ANN) from scratch. The following steps are the general steps to create any ANN. The problem we're goning to solve is a classification problem which is close to the Computer Vission model that wee're going to build next.

# Step 1: Install the libraries

| Library | Description | 
| --- |---| 
| Tensorflow | Is is an opensource library for creating Deep-Learning models |
| Keras | Keras runs on top of Theano and Tensorflow which wraps the operations of the underlying libraris and keeps the code short | 
| Theano | It is an Opensource fast numerical computation library based on Numpy syntax that runs on the GPU|  
| Pandas | for tabular data processing | 
| Scikit-learn | for Basic ML operations | 

__INstallation command__

```
python3 -m pip install theano tensorflow keras
```

In [5]:
# verify installtion 
import keras
import tensorflow
#import theano

# Step 2: Load Dataset

The classifier that we're going to build is as follows. 
A fictional customer dataset of a bank is given of arounf 10000 customers. The bank has seen an unusual churn rate (the rate at which customer leaves their service provider). The bank wants to analyse their sample datasets to classify based on the customer attributes, which customer has likelyhood of leaving the bank. 

The customer attributes are as follows. 

| Attribute | Description |
| --- | ---| 
| Row Number | Index number at the file | 
| Customer ID | Unique ID to a customer |
| Surname | surname of the customer |
| Credit score |  Credit score of the customer |
| Geography | Which branch the customer is located | 
| Gender | Gender of the customer | 
| Age | Age of the Customer | 
| Tenure | How long the the customer is with the Bank | 
| Number of Product | How many services from the bank the customer has opted for | 
| Has CrCard | Does the customoer has a credit card | 
| Is active Member | is the customer an active memeber of the bank | 
| Estimated Salary | Estimated salary of the customer |
| Exited | has the customer left the bank |

In [27]:
import pandas as pd    # import pandas to read CSV file 
import sklearn as sk   # data-pre-processing

In [12]:
dataset_file = 'Data/dataset.csv'      # locating the dataset file
dataset = pd.read_csv(dataset_file)    # loading dataset
dataset  #print first and last 5 rows

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# Step 3: Data Pre-processing 

Data pre-processing is the preceeding step before building an ANN. It proceses the data in way such the the ANN does not face the problem of the __Curse of Dimentionality__.  The following steps involves the data pre-processing. 

## 3.1. Dependent & Independent variables segrigation 
In this example, clearly the __Exited__ attribute dependent variable but the independent variable needs to be selected based on their nature. The first step is to manually drop the attributes which does not contribute to the prediction. 

__Notation__ <br>
independent variables = $X=\{x_i | \forall i \in [0,n]\}$ and Dependent Variable = $y$ such that, $y=h(X)$ where the ANN will create the deep learning model in the form of a hypothessis $h$. 

Now, from remaining variables, we'll filter out those which intutively doesn't contribute to the prediction. 


|Index| atrriute | Included as Independent Variable ? |
|--| -- |--| 
|0| __RowNumber__ | No | 
|1| __CustomerID__ | No | 
|2| __Surname__ | No | 
|3| __CreditScore__ | Yes | 
|4| __Geography__ | Yes |
|5| __Gender__ | Maybe | 
|6| __Age__ | Yes |
|7| __Tanure__ | Yes|
|8| __Balance__ | Yes|
|9| __NumberOfProducts__ |Yes|
|10|__HasCrCard__| Yes|
|11|__isActiveMemeber__ |Yes|
|12|__EstimatedSalary__|Yes|

At this stage, we know which attributes could have influence in the outcome but what we don't know is the amount of influence they have. Which the ML model will find.

In [13]:
dataset.columns # get all colums

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [28]:
# list all independent and dependent attributes
independet_attr = ['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 
                   'NumOfProducts', 'HasCrCard','IsActiveMember', 'EstimatedSalary']

dependent_attr = ['Exited']
# Filter from the dataset and coonvert into numpy array
X = dataset[independet_attr].iloc[:].values 
y = dataset[dependent_attr].iloc[:].values

Have a look on the $X$ matrix and $y$ vector.

In [29]:
print(f'X=\n{X} \n') 
print(f'y=\n{y}')

X=
[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

y=
[[1]
 [0]
 [1]
 ...
 [1]
 [1]
 [0]]

## 3.2. One-hot encoding